<% include ../defaults/_top.ejs %>

<form action="">
  matricula: <input type="text" /> <br />
  senha: <inpuy type="password"> <br>
    <button type="submit">Logar</button>
</form>
<% include ../defaults/_bottom.ejs%>