<%- include('../layouts/_black.ejs') %>

<form method="POST" enctype="application/x-www-form-urlencoded">
  <h1>Obter acesso de administrador</h1>
  <input type="number" name="matricula" placeholder="Matricula" /> <br />
  <input type="password" name="senha" placeholder="Senha" /> <br />
  <button type="submit">Entrar</button>
</form>

<%- include('../defaults/_bottom.ejs') %>
